.card {
    margin: 10px;
}
.border {
    margin-top: 20px;
    margin-bottom: 10px;
    border-style: solid;
    padding: 5px 5px 5px 10px;
    background-color: #e9ecef;
    font-weight: bold;
    font-size: 16px;
}
.form-header {
    padding: 2px;
    padding: 5px 5px 5px 10px;

}
.section-header {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 5px 0 10px;
}
.form-title {
    font-weight: bold;
    padding: 10px 5px 0 10px;
}
.form-check-input-sub {
    padding-left: 10px;
    position: static;
    margin-top: 0;
    margin-right: .3125rem;
    margin-left: 10px;
}
.form-check-label-sub {
    padding-left: 10px;
}
.jtooltip-container{
    position: relative;
    cursor: pointer;
     
    .jtooltip-trigger:hover + .jtooltip{
    display: block;
    }
    .jtooltip{
    display: none;
    position: absolute;
    top:100%;
    left:28px;
    background-color: rgba(0,0,0,0.9);
    color:#FFFFFF;
    padding:10px;
    font-size: 12px;
    z-index: 999;
    }
    }