<div>
    <h2>Hardware and Software</h2>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" v-model="sections.mobile">
            <label class="form-check-label">Mobile</label>
        </div>
    </div>
    <div v-if="sections.mobile">
        <carousel :per-page-custom="[[320, 2], [800, 3]]" :space-padding="20">
            <slide v-for="option in options.mobile">
                <div class="card" :class="{'border border-success': option.selected}">
                    <img class="card-img-top" :src="option.image" :alt="option.name">
                    <div class="card-body">
                        <h5 class="card-title">{{option.name}}</h5>
                        <p class="card-text">{{option.description}}</p>
                        <p class="card-text"><strong>{{option.price}} GBP</strong></p>
                        <button class="btn" :class="{'btn-primary': !option.selected, 'btn-secondary': option.selected}" v-on:click="option.selected = !option.selected">{{ !option.selected ? 'Select' : 'Remove' }}</button>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" v-model="sections.software">
            <label class="form-check-label">Software</label>
        </div>
    </div>
    <div v-if="sections.software" class="card">
        <div class="card-body">
            <div class="form-group" v-for="option in options.software">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" v-model="option.selected">
                    <label class="form-check-label">{{option.name}} ({{option.price}} GBP)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" v-model="sections.computer">
            <label class="form-check-label">Computer Package</label>
        </div>
    </div>
    <div v-if="sections.computer">
        <carousel :per-page-custom="[[320, 2], [800, 3]]" :space-padding="20">
            <slide v-for="option in options.computer">
                <div class="card" :class="{'border border-success': option.selected}">
                    <img class="card-img-top" :src="option.image" :alt="option.name">
                    <div class="card-body">
                        <h5 class="card-title">{{option.name}}</h5>
                        <p class="card-text">{{option.description}}</p>
                        <p class="card-text"><strong>{{option.price}} GBP</strong></p>
                        <button class="btn" :class="{'btn-primary': !option.selected, 'btn-secondary': option.selected}" v-on:click="option.selected = !option.selected">{{ !option.selected ? 'Select' : 'Remove' }}</button>
                    </div>
                </div>
            </slide>
        </carousel>
        <div class="card">
            <div class="card-body">
                <div class="form-group" v-for="option in options.monitors">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" v-model="option.selected">
                        <label class="form-check-label">{{option.name}} ({{option.price}} GBP)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" v-model="sections.peripherals">
            <label class="form-check-label">Peripherals</label>
        </div>
    </div>
    <div v-if="sections.peripherals">
        <carousel :per-page-custom="[[320, 2], [800, 3]]" :space-padding="20">
            <slide v-for="option in options.peripherals">
                <div class="card" :class="{'border border-success': option.selected}">
                    <img class="card-img-top" :src="option.image" :alt="option.name">
                    <div class="card-body">
                        <h5 class="card-title">{{option.name}}</h5>
                        <p class="card-text">{{option.description}}</p>
                        <p class="card-text"><strong>{{option.price}} GBP</strong></p>
                        <button class="btn" :class="{'btn-primary': !option.selected, 'btn-secondary': option.selected}" v-on:click="option.selected = !option.selected">{{ !option.selected ? 'Select' : 'Remove' }}</button>
                    </div>
                </div>
            </slide>
        </carousel>
    </div>
    
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary" v-on:click="back">Back</button>
        </div>
        <div class="col text-right">
            <button type="button" class="btn btn-primary" v-on:click="submit">Next</button>
        </div>
    </div>
</div>