#app-automation-forms {
    $theme-colors: (
    "primary": #DA242A,
    "secondary": #007B86,
    "info": rgb(0, 89, 99),
    "danger": #fd7e14
    );

    $yiq-text-dark: #262626;
    $headings-font-family: "Franklin Gothic Medium", Arial, sans-serif;
    $font-family-sans-serif: "Arial", sans-serif;
    $headings-color: #007B86;
    @import '../../../../node_modules/bootstrap/scss/bootstrap';
}