
$theme-colors: (
"primary": #DA242A,
"secondary": #007B86,
"info": rgb(0, 89, 99),
"danger": #fd7e14
);

$yiq-text-dark: #262626;
$headings-font-family: "Franklin Gothic Medium", Arial, sans-serif;
$font-family-sans-serif: "Arial", sans-serif;
$headings-color: #007B86;
@import '../../../../node_modules/bootstrap/scss/bootstrap';

#app-automation-forms {
    margin: 0 auto;

    .is-invalid .dropdown-toggle {
        border-color: #fd7e14;
    }

    .dropdown-toggle .form-control {
        height: calc(1.5rem + 2px);
    }
}