.container {
    background-color: white;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    max-width: 800px;
    
h1 {
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
}
header {
    padding-bottom: 2em;

    img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
    }
}
.progress {
    margin-bottom: 2em;
    height: 30px !important;
    .progress-bar {
        font-size: 1em;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.showAsEnabled{
    background-color: white !important;
}
// hide navigation
#s4-titlerow { display:none !important; }
#sideNavBox { display:none !important; }
#contentBox { margin-left: 20px; }
// end hide navigation